/VeggieTales/settings.txt
/VeggieTales/stats.txt
/VeggieTales/history.txt
/VeggieTales/data/*.bin
/VeggieTales/data/talescripts_version.txt
/VeggieTales/fishlog.txt
/VeggieTales/fishstats.txt
/VeggieTales/vines.txt
*.000
*.001
*.002
*.003
*.004
*.005
*~
